<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta content="<%= title %>" property="og:title" />
    <meta content="<%= description %>" property="og:description" />
    <meta content="https://smhsmh.club" property="og:url" />
    <meta content="#000000" data-react-helmet="true" name="theme-color" />
    <% if (image) { %>
      <% if (image.big) { %> <meta name="twitter:card" content="summary_large_image"/> <% } %>
      <meta content="<%= image.url %>" property="og:image"/>
    <% } %>
    <link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>

  <body class="has-navbar-fixed-top">
    <nav class="navbar is-black is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <figure class="image" style="margin-right: 10px; max-width: 28px;">
            <img class="is-rounded" src="https://avatars.githubusercontent.com/u/42164502">
          </figure>
          <%= title %>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/forks">
            <img src="/icons/git-branch.svg" style="margin-right: 15px">
            Fork Graph
          </a>
          <a class="navbar-item" href="/github">
            <img src="/icons/github.svg" style="margin-right: 15px">
            GitHub
          </a>
          <a class="navbar-item" href="/files">
            <img src="/icons/folder.svg" style="margin-right: 15px">
            Files
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-dark is-rounded" href="https://cactie.smhsmh.club">
                <figure class="image" style="margin-right: 10px; max-width: 28px;">
                  <img src="https://cactie.smhsmh.club/assets/images/Cactie.webp">
                </figure>
                Cactie Bot
              </a>
              <a class="button is-dark is-rounded" href="https://netherdepths.com">
                <figure class="image" style="margin-right: 10px; max-width: 28px;">
                  <img src="https://raw.githubusercontent.com/saboooor/Nether-Depths/main/Branding/nd.png">
                </figure>
                Nether Depths
              </a>
              <a class="button is-dark is-rounded" href="https://github.com/pemigrade/botflop">
                <figure class="image" style="margin-right: 10px; max-width: 28px;">
                  <img src="https://i.imgur.com/deE1oID.png">
                </figure>
                Botflop
              </a>
              <a class="button is-dark is-rounded" href="https://github.com/saboooor/guilded-discord-bridge">
                <figure class="image" style="margin-right: 10px; max-width: 28px;">
                  <img class="is-rounded" src="https://cdn.discordapp.com/avatars/875133848831279124/8529004a528e8701eb486fa458d1bf8d.webp">
                </figure>
                Guilded-Discord Bridge
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>