<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/assets/images/pup.png" type="image/x-icon">
    <meta content="Pup Dashboard" property="og:title" />
    <meta content="A bot that does stuff ig" property="og:description" />
    <meta content="https://pup.smhsmh.club" property="og:url" />
    <meta content="https://pup.smhsmh.club/assets/images/pup.png" property="og:image" />
    <meta content="#000000" data-react-helmet="true" name="theme-color" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <img style="width:27px;" src="https://pup.smhsmh.club/assets/images/pup.png" href="/">
      <a style="padding-left:10px;" class="navbar-brand" href="/">Pup Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/music">Music [WIP]</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/discord">Support Server</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tos">Legal</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout" id="navbarScrollingDropdown" role="button">
                <img style="width: 21px; height: 21px; border-radius:50%;" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>">
                <%= user.username %>#<%= user.discriminator %>
              </a>
            </li>
          <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>