<%- include("partials/header", { bot, user, path, title: "Select server" }) %>

<br></br>
<h1 style="text-align: center;">Select a Server</h1>
<br></br>
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <% 
  let guilds = user.guilds;
  if (user.id == '249638347306303499') guilds = bot.guilds.cache;
  guilds.forEach(guild => {
      const permsOnGuild = new perms(guild.permissions_new);
      if (user.id != '249638347306303499' && (!permsOnGuild.has(perms.FLAGS.MANAGE_GUILD) || !bot.guilds.cache.get(guild.id))) return;
  %>
  <a href="/dashboard/<%- guild.id %>" style="text-decoration: none;">
    <div class="card" style="width: 18rem; margin: 2rem;">
      <%- `<img src="${guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : '/assets/images/placeholder.svg'}" class="card-img-top servericon">` %>
      <h2 class="card-title" style="font-size:30px"><%= guild.name %></h2>
    </div>
  </a>
  <%
      });
  %>
</div>

<%- include("partials/footer") %>