<%- include("partials/header", { bot, user, path, title: "Pup Music Player" }) %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<h1 style="text-align: center; padding:10px">Playing Now</h1>
<h4 style="text-align: center; word-wrap: break-word;" id="vcname"></h4>
<div class="centered">
  <img src="/assets/images/musicplaceholder.png" style="min-width: 20%; max-width: 80%; border-radius: 3%; margin:2rem" id="cover">
</div>
<div style="margin-bottom:1rem" class="centered">
  <h1 style="text-align: center; width: 80%;" id="title"></h1>
</div>
<div class="centered">
  <h5 id="pos" class="centered" style="padding:15px; margin:0;" for="progress"></h5>
    <input type="range" id="progress" oninput="seeksong(event);" style="width:45%;">
  <h5 id="total" class="centered" style="padding:15px; margin:0;" for="progress"></h5>
</div>
<div class="centered" style="margin:1rem;">
  <button class="mediacontrols" style="margin-right:5%;" onclick="lyrics()"><img id="lyrics" src="/assets/icons/mic.svg"></img></button>
  <button class="mediacontrols" style="margin-right:5%;" onclick="shufflequeue()"><img id="shuffle" src="/assets/icons/shuffle.svg"></img></button>
  <button class="mediacontrols" class="button" onclick="toggleplaypause()"><img id="play" src="/assets/icons/play.svg"></img></button>
  <button class="mediacontrols" style="margin-left:5%;" onclick="skipsong()"><img id="skip" src="/assets/icons/skip-forward.svg"></img></button>
  <button class="mediacontrols" style="margin-left:5%;" onclick="equalizer()"><img id="equalizer" src="/assets/icons/sliders.svg"></img></button>
</div>
<div class="centered">
  <h5 class="centered" style="padding:15px; margin:0;" for="volume"><img src="/assets/icons/volume-x.svg"></img></h5>
    <input type="range" id="volume" oninput="changevolume(event);" style="width:40%;" max=100>
  <h5 class="centered" style="padding:15px; margin:0;" for="volume"><img src="/assets/icons/volume-2.svg"></img></h5>
</div>
<div id="queuecont" style="margin-top:3rem;"></div>
<script>
  function changevolume(event) { ws.send(`volume change: <%=user.id%> / ${event.srcElement.value}`); }
  function seeksong(event) { ws.send(`seek song: <%=user.id%> / ${event.srcElement.value}`); }
  function skipsong() { ws.send('skip song: <%=user.id%>'); }
  function prevsong() { ws.send('prev song: <%=user.id%>'); }
  function skipto(index) { ws.send(`skip to: <%=user.id%> / ${index}`); }
  function shufflequeue() { ws.send('shuffle queue: <%=user.id%>'); }
  function toggleplaypause() {
    if (document.getElementById('play').src.includes('play')) {
      document.getElementById('play').src = '/assets/icons/pause.svg';
    } else {
      document.getElementById('play').src = '/assets/icons/play.svg';
    }
    ws.send(`playpause: <%=user.id%>`);
  };
	function sleep(ms) { return new Promise(res => setTimeout(res, ms)); }
  function convert(duration) {
		let seconds = parseInt((duration / 1000) % 60);
		let minutes = parseInt((duration / (1000 * 60)) % 60);
		const hours = parseInt((duration / (1000 * 60 * 60)) % 24);
		seconds = (seconds < 10) ? '0' + seconds : seconds;
		if (duration < 3600000) {
			return minutes + ':' + seconds ;
		}
		else {
		  minutes = (minutes < 10) ? '0' + minutes : minutes;
			return hours + ':' + minutes + ':' + seconds ;
		}
	}
  const body = document.getElementsByTagName('body')[0];
  const bar = document.getElementById('progress');
  const posLabel = document.getElementById('pos');
  const totalLabel = document.getElementById('total');
  const cover = document.getElementById('cover');
  const title = document.getElementById('title');
  const ws = new WebSocket('<%=wsurl%>');
	ws.onopen = function open() {
    ws.send('music info for: <%=user.id%>');
    setInterval(() => ws.send('music info for: <%=user.id%>'), 5000);
  };
	ws.onmessage = async function message(data) {
		const player = JSON.parse(data.data);
    document.getElementById('volume').value = player.volume;
    document.getElementById('vcname').innerText = player.voiceChannelName;
    if (player.current) {
      if (!player.current.color) player.current.color = [Math.floor(Math.random() * 255), Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)];
      cover.src = player.current.img;
      body.style.backgroundColor = `rgb(${player.current.color.join(', ')})`;
      body.style.backgroundImage = `linear-gradient(315deg, #000000, rgb(${player.current.color.join(', ')}), #000000)`;
      bar.max = player.current.duration;
      bar.value = player.position;
      posLabel.innerText = convert(bar.value);
      totalLabel.innerText = convert(player.current.duration - bar.value);
      title.innerText = player.current.title;
      if (!player.paused) {
        document.getElementById('queuecont').innerHTML = '';
        player.queue.forEach(track => {
          if (!track.color) track.color = [Math.floor(Math.random() * 255), Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)];
          document.getElementById('queuecont').innerHTML += `
<div class="centered" style="margin:15px;">
  <a href="#" class="queueitem" onclick="skipto(${player.queue.indexOf(track)})" style="background-image: linear-gradient(90deg, rgb(${track.color.join(', ')}), rgba(${track.color.join(', ')}, 0.3));">
    <img src="${track.img}" style="height:50px; margin:10px; border-radius:5px;"></img>
    <h6 style="height:70px; width:60%; display: flex; flex-wrap: wrap; align-items: center; overflow: hidden;">${track.title.replace('\n', '<br>')}</h6>
  </a>
</div>
`;
        });
        document.getElementById('play').src = '/assets/icons/pause.svg';
        for (let step = 0; step < 5; step++) {
			    await sleep(1000);
          bar.value = parseInt(bar.value) + 1000;
          posLabel.innerText = convert(bar.value);
          totalLabel.innerText = convert(player.current.duration - bar.value);
		    }
      }
      else {
        document.getElementById('play').src = '/assets/icons/play.svg';
      }
    }
    else {
      document.getElementById('queuecont').innerHTML = '';
      cover.src = '/assets/images/musicplaceholder.png';
      body.style.backgroundColor = '#000000';
      posLabel.innerText = '00:00';
      totalLabel.innerText = '00:00';
      title.innerText = 'Not playing anything!';
    }
	};
</script>
<%- include("partials/footer") %>