<%- include("partials/header", { bot, user, path, title: `Settings | ${guild.name}` }) %>

<div class="container-sm center" style="margin-top: 30px;">
  <div class="d-grid gap-2 col-4 mx-auto">
    <% if (alert) { %>
      <div class="alert alert-success" role="alert">
        <%= alert %>
      </div>
    <% } %>
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 9rem;">` : `<img src="https://cdn.discordapp.com/attachments/765919453766352916/877787616974622770/wCfHtuoejLIbAAAAABJRU5ErkJggg.png" class="card-img-top" style="max-width: 9rem;">` %>
    <h1><%= guild.name %></h1>
    <hr>
    <form method="POST">
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Prefix:</p>
      <p style="font-style: italic;" class="disabled">The bot's command prefix</p>
      <input type="text" class="form-control" name="prefix" value="<%= settings.prefix %>" placeholder="Your prefix">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Leave Message:</p>
      <p style="font-style: italic;" class="disabled">The message when someone leaves the guild.</p>
      <p style="font-style: italic;" class="disabled">Variables: {USER MENTION} {USER TAG}</p>
      <input type="text" class="form-control" name="leavemessage" value="<%= settings.leavemessage %>" placeholder="The leave message, or just 'false'">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Join Message:</p>
      <p style="font-style: italic;" class="disabled">The message when someone joins the guild.</p><p style="font-style: italic;" class="disabled">Variables: {USER MENTION} {USER TAG}</p>
      <input type="text" class="form-control" name="joinmessage" value="<%= settings.joinmessage %>" placeholder="The join message, or just 'false'">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Max PP Size:</p>
      <p style="font-style: italic;" class="disabled">Maximum pp size in boner and instaboner commands.</p>
      <input type="number" class="form-control" name="maxppsize" min="2" max="75" value="<%= settings.maxppsize %>" placeholder="The max pp size">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Tickets:</p>
      <p style="font-style: italic;" class="disabled">Toggles the ticket system.</p>
      <select class="form-control" name="tickets" value="<%= settings.tickets %>" placeholder="The ticket option">
        <option value="false" <% if (settings.tickets === 'false') {%> selected <%} else {%> <% } %>>false</option>
        <option value="buttons" <% if (settings.tickets === 'buttons') {%> selected <%} else {%> <% } %>>buttons</option>
        <option value="reactions" <% if (settings.tickets === 'reactions') {%> selected <%} else {%> <% } %>>reactions</option>
      </select>

      <br><button type="submit" class="btn btn-secondary text-white">Save Settings</button>
    </form>
  </div>
</div>

<%- include("partials/footer") %>
