<%- include("partials/header", { bot, user, path, title: `Settings | ${guild.name}` }) %>

<div class="container-sm center" style="margin-top: 30px;">
  <div class="d-grid gap-2 col-4 mx-auto">
    <% if (alert) { %>
      <div class="alert alert-success" role="alert">
        <%= alert %>
      </div>
    <% } %>
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 9rem; border-radius:50%; margin-bottom:20px">` : `<img src="/assets/images/placeholder.svg" class="card-img-top" style="max-width: 9rem; border-radius:50%; margin-bottom:20px">` %>
    <h1><%= guild.name %></h1>
    <hr>
    <form method="POST">
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Prefix:</p>
      <p style="font-style: italic;" class="disabled">The bot's command prefix</p>
      <input type="text" class="form-control darktextboxes" name="prefix" value="<%= settings.prefix %>" placeholder="Your prefix">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Leave Message:</p>
      <p style="font-style: italic;" class="disabled">The message when someone leaves the guild</p>
      <p style="font-style: italic;" class="disabled">Variables: {USER MENTION} {USER TAG}</p>
      <input type="text" class="form-control darktextboxes" name="leavemessage" value="<%= settings.leavemessage %>" placeholder="The leave message, or just 'false'">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Join Message:</p>
      <p style="font-style: italic;" class="disabled">The message when someone joins the guild</p><p style="font-style: italic;" class="disabled">Variables: {USER MENTION} {USER TAG}</p>
      <input type="text" class="form-control darktextboxes" name="joinmessage" value="<%= settings.joinmessage %>" placeholder="The join message, or just 'false'">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Max PP Size:</p>
      <p style="font-style: italic;" class="disabled">Maximum pp size in boner and instaboner commands</p>
      <input type="number" class="form-control darktextboxes" name="maxppsize" min="2" max="75" value="<%= settings.maxppsize %>" placeholder="The max pp size">
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Tickets:</p>
      <p style="font-style: italic;" class="disabled">Toggles the ticket system</p>
      <select class="darktextboxes darkselectboxes" name="tickets" value="<%= settings.tickets %>" placeholder="The ticket option">
        <option value="false" <% if (settings.tickets === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <option value="buttons" <% if (settings.tickets === 'buttons') {%> selected <%} else {%> <%} %>>Buttons</option>
        <option value="reactions" <% if (settings.tickets === 'reactions') {%> selected <%} else {%> <%} %>>Reactions</option>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Boner Command:</p>
      <p style="font-style: italic;" class="disabled">Toggles the boner command</p>
      <select class="darktextboxes darkselectboxes" name="bonercmd" value="<%= settings.bonercmd %>" placeholder="The value">
        <option value="true" <% if (settings.bonercmd === 'true') {%> selected <%} else {%> <%} %>>Enabled</option>
        <option value="false" <% if (settings.bonercmd === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Reactions:</p>
      <p style="font-style: italic;" class="disabled">Reacts with various reactions on some words</p>
      <select class="darktextboxes darkselectboxes" name="reactions" value="<%= settings.reactions %>" placeholder="The value">
        <option value="true" <% if (settings.reactions === 'true') {%> selected <%} else {%> <%} %>>Enabled</option>
        <option value="false" <% if (settings.reactions === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Suggestion Channel:</p>
      <p style="font-style: italic;" class="disabled">The channel where the bot puts suggestions in</p>
      <select class="darktextboxes darkselectboxes" name="suggestionchannel" value="<%= settings.suggestionchannel %>" placeholder="The suggestion channel">
        <option value="false" <% if (settings.suggestionchannel === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <% guild.channels.cache.forEach(channel => { %>
          <% if (channel.type !== "GUILD_TEXT") return %>
          <option value="<%= channel.id %>" <% if (channel.id === settings.suggestionchannel) {%> selected <%} else {%> <% } %> > <%= `#${channel.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Suggestion Threads:</p>
      <p style="font-style: italic;" class="disabled">Creates a thread for discussion when a suggestion is created</p>
      <select class="darktextboxes darkselectboxes" name="suggestthreads" value="<%= settings.suggestthreads %>" placeholder="The value">
        <option value="true" <% if (settings.suggestthreads === 'true') {%> selected <%} else {%> <%} %>>Enabled</option>
        <option value="false" <% if (settings.suggestthreads === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Poll Channel:</p>
      <p style="font-style: italic;" class="disabled">The channel where the bot puts polls in</p>
      <select class="darktextboxes darkselectboxes" name="pollchannel" value="<%= settings.pollchannel %>" placeholder="The poll channel">
        <option value="false" <% if (settings.pollchannel === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <% guild.channels.cache.forEach(channel => { %>
          <% if (channel.type !== "GUILD_TEXT") return %>
          <option value="<%= channel.id %>" <% if (channel.id === settings.pollchannel) {%> selected <%} else {%> <% } %> > <%= `#${channel.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Log Channel:</p>
      <p style="font-style: italic;" class="disabled">The channel where the bot puts various logs in</p>
      <select class="darktextboxes darkselectboxes" name="logchannel" value="<%= settings.logchannel %>" placeholder="The log channel">
        <option value="false" <% if (settings.logchannel === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <% guild.channels.cache.forEach(channel => { %>
          <% if (channel.type !== "GUILD_TEXT") return %>
          <option value="<%= channel.id %>" <% if (channel.id === settings.logchannel) {%> selected <%} else {%> <% } %> > <%= `#${channel.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Ticket Category:</p>
      <p style="font-style: italic;" class="disabled">The category where the bot creates tickets in</p>
      <select class="darktextboxes darkselectboxes" name="ticketcategory" value="<%= settings.ticketcategory %>" placeholder="The category">
        <option value="false" <% if (settings.ticketcategory === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <% guild.channels.cache.forEach(channel => { %>
          <% if (channel.type !== "GUILD_CATEGORY") return %>
          <option value="<%= channel.id %>" <% if (channel.id === settings.ticketcategory) {%> selected <%} else {%> <% } %> > <%= `📂${channel.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Support Role:</p>
      <p style="font-style: italic;" class="disabled">The ticket support team role</p>
      <select class="darktextboxes darkselectboxes" name="supportrole" value="<%= settings.supportrole %>" placeholder="The Support Role">
        <option value="false" <% if (settings.supportrole === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <% guild.roles.cache.forEach(role => { %>
          <option value="<%= role.id %>" <% if (role.id === settings.supportrole) {%> selected <%} else {%> <% } %> > <%= `@${role.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Ticket Mention:</p>
      <p style="font-style: italic;" class="disabled">Pings the specified role every time a new ticket is created</p>
      <select class="darktextboxes darkselectboxes" name="ticketmention" value="<%= settings.ticketmention %>" placeholder="The Role to mention">
        <option value="false" <% if (settings.ticketmention === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <option value="here" <% if (settings.ticketmention === 'here') {%> selected <%} else {%> <%} %>>@here</option>
        <option value="everyone" <% if (settings.ticketmention === 'everyone') {%> selected <%} else {%> <%} %>>@everyone</option>
        <% guild.roles.cache.forEach(role => { %>
          <option value="<%= role.id %>" <% if (role.id === settings.ticketmention) {%> selected <%} else {%> <% } %> > <%= `@${role.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Mute Command:</p>
      <p style="font-style: italic;" class="disabled">Toggles the mute/timeout command / use a mute role</p>
      <select class="darktextboxes darkselectboxes" name="mutecmd" value="<%= settings.mutecmd %>" placeholder="Whether or not to use a mute role">
        <option value="false" <% if (settings.mutecmd === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <option value="timeout" <% if (settings.mutecmd === 'timeout') {%> selected <%} else {%> <%} %>>Timeout</option>
        <% guild.roles.cache.forEach(role => { %>
          <option value="<%= role.id %>" <% if (role.id === settings.mutecmd) {%> selected <%} else {%> <% } %> > <%= `@${role.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Admin Role:</p>
      <p style="font-style: italic;" class="disabled">The role to replace the ADMINISTRATOR permission</p>
      <select class="darktextboxes darkselectboxes" name="adminrole" value="<%= settings.adminrole %>" placeholder="Whether or not to use a role instead of the admin perm">
        <option value="permission" <% if (settings.adminrole === 'permission') {%> selected <%} else {%> <%} %>>Disabled</option>
        <% guild.roles.cache.forEach(role => { %>
          <option value="<%= role.id %>" <% if (role.id === settings.adminrole) {%> selected <%} else {%> <% } %> > <%= `@${role.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">DJ Role:</p>
      <p style="font-style: italic;" class="disabled">The DJ feature of the bot that limits the skip/etc commands</p>
      <select class="darktextboxes darkselectboxes" name="djrole" value="<%= settings.djrole %>" placeholder="The DJ Role">
        <option value="false" <% if (settings.djrole === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
        <% guild.roles.cache.forEach(role => { %>
          <option value="<%= role.id %>" <% if (role.id === settings.djrole) {%> selected <%} else {%> <% } %> > <%= `@${role.name}` %></option>
        <% }) %>
      </select>
  
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Message Shortener:</p>
      <p style="font-style: italic;" class="disabled">The amount of lines in a message to delete and send to a bin link (Setting it to 0 disables it)</p>
      <input type="number" class="form-control darktextboxes" name="msgshortener" value="<%= settings.msgshortener %>" placeholder="The max lines to shorten msg">
  
      <br><button type="submit" class="btn btn-primary text-white">Save Settings</button>
    </form>
  </div>
</div>

<%- include("partials/footer") %>